body {
  margin:0px;
  background-color:rgba(1, 74, 142, 1);
  background-image:none;
  position:static;
  left:auto;
  width:844px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:390px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:694px;
  height:390px;
  display:flex;
}
#u200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:12px;
  width:18px;
  height:18px;
  display:flex;
  opacity:0.05;
}
#u201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:9px;
  width:21px;
  height:21px;
  display:flex;
}
#u202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u203_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u203_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u203_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u203_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(1, 74, 142, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:63px;
  width:89px;
  height:20px;
  display:flex;
  font-size:10px;
  color:#FFFFFF;
}
#u203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u203_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(1, 74, 142, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u203.hint {
}
#u203_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u203.disabled {
}
#u203_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u203.hint.disabled {
}
#u204_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u204_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u204_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u204_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(1, 74, 142, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:63px;
  width:89px;
  height:20px;
  display:flex;
  font-size:10px;
  color:#FFFFFF;
}
#u204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u204_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(1, 74, 142, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u204.hint {
}
#u204_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u204.disabled {
}
#u204_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u204.hint.disabled {
}
#u205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u206 label {
  left:0px;
  width:100%;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:67px;
  width:13px;
  height:16px;
  display:flex;
  font-size:30px;
  color:#FFFFFF;
}
#u206 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u206_img.selected {
}
#u206.selected {
}
#u206_img.disabled {
}
#u206.disabled {
}
#u206_img.selected.error {
}
#u206.selected.error {
}
#u206_img.selected.hint {
}
#u206.selected.hint {
}
#u206_img.selected.error.hint {
}
#u206.selected.error.hint {
}
#u206_img.mouseOver.selected {
}
#u206.mouseOver.selected {
}
#u206_img.mouseOver.selected.error {
}
#u206.mouseOver.selected.error {
}
#u206_img.mouseOver.selected.hint {
}
#u206.mouseOver.selected.hint {
}
#u206_img.mouseOver.selected.error.hint {
}
#u206.mouseOver.selected.error.hint {
}
#u206_img.mouseDown.selected {
}
#u206.mouseDown.selected {
}
#u206_img.mouseDown.selected.error {
}
#u206.mouseDown.selected.error {
}
#u206_img.mouseDown.selected.hint {
}
#u206.mouseDown.selected.hint {
}
#u206_img.mouseDown.selected.error.hint {
}
#u206.mouseDown.selected.error.hint {
}
#u206_img.mouseOver.mouseDown.selected {
}
#u206.mouseOver.mouseDown.selected {
}
#u206_img.mouseOver.mouseDown.selected.error {
}
#u206.mouseOver.mouseDown.selected.error {
}
#u206_img.mouseOver.mouseDown.selected.hint {
}
#u206.mouseOver.mouseDown.selected.hint {
}
#u206_img.mouseOver.mouseDown.selected.error.hint {
}
#u206.mouseOver.mouseDown.selected.error.hint {
}
#u206_img.focused.selected {
}
#u206.focused.selected {
}
#u206_img.focused.selected.error {
}
#u206.focused.selected.error {
}
#u206_img.focused.selected.hint {
}
#u206.focused.selected.hint {
}
#u206_img.focused.selected.error.hint {
}
#u206.focused.selected.error.hint {
}
#u206_img.selected.disabled {
}
#u206.selected.disabled {
}
#u206_img.selected.hint.disabled {
}
#u206.selected.hint.disabled {
}
#u206_img.selected.error.disabled {
}
#u206.selected.error.disabled {
}
#u206_img.selected.error.hint.disabled {
}
#u206.selected.error.hint.disabled {
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-5px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u206_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u207 label {
  left:0px;
  width:100%;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:85px;
  width:13px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u207 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u207_img.selected {
}
#u207.selected {
}
#u207_img.disabled {
}
#u207.disabled {
}
#u207_img.selected.error {
}
#u207.selected.error {
}
#u207_img.selected.hint {
}
#u207.selected.hint {
}
#u207_img.selected.error.hint {
}
#u207.selected.error.hint {
}
#u207_img.mouseOver.selected {
}
#u207.mouseOver.selected {
}
#u207_img.mouseOver.selected.error {
}
#u207.mouseOver.selected.error {
}
#u207_img.mouseOver.selected.hint {
}
#u207.mouseOver.selected.hint {
}
#u207_img.mouseOver.selected.error.hint {
}
#u207.mouseOver.selected.error.hint {
}
#u207_img.mouseDown.selected {
}
#u207.mouseDown.selected {
}
#u207_img.mouseDown.selected.error {
}
#u207.mouseDown.selected.error {
}
#u207_img.mouseDown.selected.hint {
}
#u207.mouseDown.selected.hint {
}
#u207_img.mouseDown.selected.error.hint {
}
#u207.mouseDown.selected.error.hint {
}
#u207_img.mouseOver.mouseDown.selected {
}
#u207.mouseOver.mouseDown.selected {
}
#u207_img.mouseOver.mouseDown.selected.error {
}
#u207.mouseOver.mouseDown.selected.error {
}
#u207_img.mouseOver.mouseDown.selected.hint {
}
#u207.mouseOver.mouseDown.selected.hint {
}
#u207_img.mouseOver.mouseDown.selected.error.hint {
}
#u207.mouseOver.mouseDown.selected.error.hint {
}
#u207_img.focused.selected {
}
#u207.focused.selected {
}
#u207_img.focused.selected.error {
}
#u207.focused.selected.error {
}
#u207_img.focused.selected.hint {
}
#u207.focused.selected.hint {
}
#u207_img.focused.selected.error.hint {
}
#u207.focused.selected.error.hint {
}
#u207_img.selected.disabled {
}
#u207.selected.disabled {
}
#u207_img.selected.hint.disabled {
}
#u207.selected.hint.disabled {
}
#u207_img.selected.error.disabled {
}
#u207.selected.error.disabled {
}
#u207_img.selected.error.hint.disabled {
}
#u207.selected.error.hint.disabled {
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-5px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u207_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:94px;
  width:147px;
  height:24px;
  display:flex;
}
#u208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:195px;
  width:39px;
  height:39px;
  display:flex;
  color:#8C8C8C;
}
#u209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:356px;
  width:147px;
  height:23px;
  display:flex;
  color:#FFFFFF;
}
#u210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:23px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:7px;
  width:127px;
  height:23px;
  display:flex;
  font-family:"Arial Negrito", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
