body {
  margin:0px;
  background-color:rgba(1, 74, 142, 1);
  background-image:none;
  position:static;
  left:auto;
  width:844px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:390px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:694px;
  height:390px;
  display:flex;
}
#u49 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:12px;
  width:18px;
  height:18px;
  display:flex;
  opacity:0.05;
}
#u50 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u50_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:67px;
  background:inherit;
  background-color:rgba(1, 74, 142, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:98px;
  width:240px;
  height:67px;
  display:flex;
}
#u51 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u51_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52 label {
  left:0px;
  width:100%;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:98px;
  width:240px;
  height:20px;
  display:flex;
  opacity:0.92;
  font-size:9px;
  color:#FFFFFF;
}
#u52 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u52_img.selected {
}
#u52.selected {
}
#u52_img.disabled {
}
#u52.disabled {
}
#u52_img.selected.error {
}
#u52.selected.error {
}
#u52_img.selected.hint {
}
#u52.selected.hint {
}
#u52_img.selected.error.hint {
}
#u52.selected.error.hint {
}
#u52_img.mouseOver.selected {
}
#u52.mouseOver.selected {
}
#u52_img.mouseOver.selected.error {
}
#u52.mouseOver.selected.error {
}
#u52_img.mouseOver.selected.hint {
}
#u52.mouseOver.selected.hint {
}
#u52_img.mouseOver.selected.error.hint {
}
#u52.mouseOver.selected.error.hint {
}
#u52_img.mouseDown.selected {
}
#u52.mouseDown.selected {
}
#u52_img.mouseDown.selected.error {
}
#u52.mouseDown.selected.error {
}
#u52_img.mouseDown.selected.hint {
}
#u52.mouseDown.selected.hint {
}
#u52_img.mouseDown.selected.error.hint {
}
#u52.mouseDown.selected.error.hint {
}
#u52_img.mouseOver.mouseDown.selected {
}
#u52.mouseOver.mouseDown.selected {
}
#u52_img.mouseOver.mouseDown.selected.error {
}
#u52.mouseOver.mouseDown.selected.error {
}
#u52_img.mouseOver.mouseDown.selected.hint {
}
#u52.mouseOver.mouseDown.selected.hint {
}
#u52_img.mouseOver.mouseDown.selected.error.hint {
}
#u52.mouseOver.mouseDown.selected.error.hint {
}
#u52_img.focused.selected {
}
#u52.focused.selected {
}
#u52_img.focused.selected.error {
}
#u52.focused.selected.error {
}
#u52_img.focused.selected.hint {
}
#u52.focused.selected.hint {
}
#u52_img.focused.selected.error.hint {
}
#u52.focused.selected.error.hint {
}
#u52_img.selected.disabled {
}
#u52.selected.disabled {
}
#u52_img.selected.hint.disabled {
}
#u52.selected.hint.disabled {
}
#u52_img.selected.error.disabled {
}
#u52.selected.error.disabled {
}
#u52_img.selected.error.hint.disabled {
}
#u52.selected.error.hint.disabled {
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:8px;
  width:216px;
  word-wrap:break-word;
  text-transform:none;
}
#u52_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u53 label {
  left:0px;
  width:100%;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:124px;
  width:240px;
  height:20px;
  display:flex;
  opacity:0.92;
  font-size:10px;
  color:#FFFFFF;
}
#u53 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u53_img.selected {
}
#u53.selected {
}
#u53_img.disabled {
}
#u53.disabled {
}
#u53_img.selected.error {
}
#u53.selected.error {
}
#u53_img.selected.hint {
}
#u53.selected.hint {
}
#u53_img.selected.error.hint {
}
#u53.selected.error.hint {
}
#u53_img.mouseOver.selected {
}
#u53.mouseOver.selected {
}
#u53_img.mouseOver.selected.error {
}
#u53.mouseOver.selected.error {
}
#u53_img.mouseOver.selected.hint {
}
#u53.mouseOver.selected.hint {
}
#u53_img.mouseOver.selected.error.hint {
}
#u53.mouseOver.selected.error.hint {
}
#u53_img.mouseDown.selected {
}
#u53.mouseDown.selected {
}
#u53_img.mouseDown.selected.error {
}
#u53.mouseDown.selected.error {
}
#u53_img.mouseDown.selected.hint {
}
#u53.mouseDown.selected.hint {
}
#u53_img.mouseDown.selected.error.hint {
}
#u53.mouseDown.selected.error.hint {
}
#u53_img.mouseOver.mouseDown.selected {
}
#u53.mouseOver.mouseDown.selected {
}
#u53_img.mouseOver.mouseDown.selected.error {
}
#u53.mouseOver.mouseDown.selected.error {
}
#u53_img.mouseOver.mouseDown.selected.hint {
}
#u53.mouseOver.mouseDown.selected.hint {
}
#u53_img.mouseOver.mouseDown.selected.error.hint {
}
#u53.mouseOver.mouseDown.selected.error.hint {
}
#u53_img.focused.selected {
}
#u53.focused.selected {
}
#u53_img.focused.selected.error {
}
#u53.focused.selected.error {
}
#u53_img.focused.selected.hint {
}
#u53.focused.selected.hint {
}
#u53_img.focused.selected.error.hint {
}
#u53.focused.selected.error.hint {
}
#u53_img.selected.disabled {
}
#u53.selected.disabled {
}
#u53_img.selected.hint.disabled {
}
#u53.selected.hint.disabled {
}
#u53_img.selected.error.disabled {
}
#u53.selected.error.disabled {
}
#u53_img.selected.error.hint.disabled {
}
#u53.selected.error.hint.disabled {
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:7px;
  width:216px;
  word-wrap:break-word;
  text-transform:none;
}
#u53_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u54 label {
  left:0px;
  width:100%;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:150px;
  width:240px;
  height:20px;
  display:flex;
  opacity:0.92;
  font-size:10px;
  color:#FFFFFF;
}
#u54 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u54_img.selected {
}
#u54.selected {
}
#u54_img.disabled {
}
#u54.disabled {
}
#u54_img.selected.error {
}
#u54.selected.error {
}
#u54_img.selected.hint {
}
#u54.selected.hint {
}
#u54_img.selected.error.hint {
}
#u54.selected.error.hint {
}
#u54_img.mouseOver.selected {
}
#u54.mouseOver.selected {
}
#u54_img.mouseOver.selected.error {
}
#u54.mouseOver.selected.error {
}
#u54_img.mouseOver.selected.hint {
}
#u54.mouseOver.selected.hint {
}
#u54_img.mouseOver.selected.error.hint {
}
#u54.mouseOver.selected.error.hint {
}
#u54_img.mouseDown.selected {
}
#u54.mouseDown.selected {
}
#u54_img.mouseDown.selected.error {
}
#u54.mouseDown.selected.error {
}
#u54_img.mouseDown.selected.hint {
}
#u54.mouseDown.selected.hint {
}
#u54_img.mouseDown.selected.error.hint {
}
#u54.mouseDown.selected.error.hint {
}
#u54_img.mouseOver.mouseDown.selected {
}
#u54.mouseOver.mouseDown.selected {
}
#u54_img.mouseOver.mouseDown.selected.error {
}
#u54.mouseOver.mouseDown.selected.error {
}
#u54_img.mouseOver.mouseDown.selected.hint {
}
#u54.mouseOver.mouseDown.selected.hint {
}
#u54_img.mouseOver.mouseDown.selected.error.hint {
}
#u54.mouseOver.mouseDown.selected.error.hint {
}
#u54_img.focused.selected {
}
#u54.focused.selected {
}
#u54_img.focused.selected.error {
}
#u54.focused.selected.error {
}
#u54_img.focused.selected.hint {
}
#u54.focused.selected.hint {
}
#u54_img.focused.selected.error.hint {
}
#u54.focused.selected.error.hint {
}
#u54_img.selected.disabled {
}
#u54.selected.disabled {
}
#u54_img.selected.hint.disabled {
}
#u54.selected.hint.disabled {
}
#u54_img.selected.error.disabled {
}
#u54.selected.error.disabled {
}
#u54_img.selected.error.hint.disabled {
}
#u54.selected.error.hint.disabled {
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:7px;
  width:216px;
  word-wrap:break-word;
  text-transform:none;
}
#u54_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:95px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u55_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:95px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u55_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:95px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u55_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:95px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:195px;
  width:244px;
  height:95px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u55 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u55.hint {
}
#u55_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:95px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u55.disabled {
}
#u55_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:95px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u55.hint.disabled {
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:309px;
  width:110px;
  height:23px;
  display:flex;
}
#u56 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u56_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:9px;
  width:19px;
  height:18px;
  display:flex;
}
#u57 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:23px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:10px;
  width:110px;
  height:23px;
  display:flex;
  font-family:"Arial Negrito", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u58 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
