body {
  margin:0px;
  background-color:rgba(1, 74, 142, 1);
  background-image:none;
  position:static;
  left:auto;
  width:844px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:390px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:0px;
  width:693px;
  height:390px;
  display:flex;
}
#u32 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:34px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:169px;
  width:105px;
  height:110px;
  display:flex;
  opacity:0;
}
#u33 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:169px;
  width:104px;
  height:110px;
  display:flex;
  opacity:0;
}
#u34 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:12px;
  width:18px;
  height:18px;
  display:flex;
  opacity:0.05;
}
#u35 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:24px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  letter-spacing:normal;
  color:#F7FFA7;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u36_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:24px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u36_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:24px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  letter-spacing:normal;
  color:#F7FFA7;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u36_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:24px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:24px;
  background:inherit;
  background-color:rgba(247, 148, 29, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#F7FFA7;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:7px;
  width:236px;
  height:24px;
  display:flex;
  font-size:15px;
  color:#F7FFA7;
}
#u36 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u36_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:24px;
  background:inherit;
  background-color:rgba(247, 148, 29, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#F7FFA7;
}
#u36.hint {
}
#u36_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:24px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#F7FFA7;
}
#u36.disabled {
}
#u36_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:24px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#F7FFA7;
}
#u36.hint.disabled {
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:23px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:8px;
  width:123px;
  height:23px;
  display:flex;
  font-family:"Arial Negrito", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u37 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
