body {
  margin:0px;
  background-color:rgba(1, 74, 142, 1);
  background-image:none;
  position:static;
  left:auto;
  width:844px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:390px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:0px;
  width:693px;
  height:390px;
  display:flex;
}
#u212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:12px;
  width:18px;
  height:18px;
  display:flex;
  opacity:0.05;
}
#u213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:9px;
  width:21px;
  height:21px;
  display:flex;
}
#u214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u215_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u215_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u215_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u215_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(1, 74, 142, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:64px;
  width:89px;
  height:20px;
  display:flex;
  font-size:10px;
  color:#FFFFFF;
}
#u215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u215_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(1, 74, 142, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u215.hint {
}
#u215_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u215.disabled {
}
#u215_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u215.hint.disabled {
}
#u216_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u216_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u216_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u216_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(1, 74, 142, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:64px;
  width:89px;
  height:20px;
  display:flex;
  font-size:10px;
  color:#FFFFFF;
}
#u216 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u216_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(1, 74, 142, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u216.hint {
}
#u216_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u216.disabled {
}
#u216_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u216.hint.disabled {
}
#u217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u218 label {
  left:0px;
  width:100%;
}
#u218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:67px;
  width:13px;
  height:16px;
  display:flex;
  font-size:30px;
  color:#FFFFFF;
}
#u218 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u218_img.selected {
}
#u218.selected {
}
#u218_img.disabled {
}
#u218.disabled {
}
#u218_img.selected.error {
}
#u218.selected.error {
}
#u218_img.selected.hint {
}
#u218.selected.hint {
}
#u218_img.selected.error.hint {
}
#u218.selected.error.hint {
}
#u218_img.mouseOver.selected {
}
#u218.mouseOver.selected {
}
#u218_img.mouseOver.selected.error {
}
#u218.mouseOver.selected.error {
}
#u218_img.mouseOver.selected.hint {
}
#u218.mouseOver.selected.hint {
}
#u218_img.mouseOver.selected.error.hint {
}
#u218.mouseOver.selected.error.hint {
}
#u218_img.mouseDown.selected {
}
#u218.mouseDown.selected {
}
#u218_img.mouseDown.selected.error {
}
#u218.mouseDown.selected.error {
}
#u218_img.mouseDown.selected.hint {
}
#u218.mouseDown.selected.hint {
}
#u218_img.mouseDown.selected.error.hint {
}
#u218.mouseDown.selected.error.hint {
}
#u218_img.mouseOver.mouseDown.selected {
}
#u218.mouseOver.mouseDown.selected {
}
#u218_img.mouseOver.mouseDown.selected.error {
}
#u218.mouseOver.mouseDown.selected.error {
}
#u218_img.mouseOver.mouseDown.selected.hint {
}
#u218.mouseOver.mouseDown.selected.hint {
}
#u218_img.mouseOver.mouseDown.selected.error.hint {
}
#u218.mouseOver.mouseDown.selected.error.hint {
}
#u218_img.focused.selected {
}
#u218.focused.selected {
}
#u218_img.focused.selected.error {
}
#u218.focused.selected.error {
}
#u218_img.focused.selected.hint {
}
#u218.focused.selected.hint {
}
#u218_img.focused.selected.error.hint {
}
#u218.focused.selected.error.hint {
}
#u218_img.selected.disabled {
}
#u218.selected.disabled {
}
#u218_img.selected.hint.disabled {
}
#u218.selected.hint.disabled {
}
#u218_img.selected.error.disabled {
}
#u218.selected.error.disabled {
}
#u218_img.selected.error.hint.disabled {
}
#u218.selected.error.hint.disabled {
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-5px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u218_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u219 label {
  left:0px;
  width:100%;
}
#u219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:85px;
  width:13px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u219 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u219_img.selected {
}
#u219.selected {
}
#u219_img.disabled {
}
#u219.disabled {
}
#u219_img.selected.error {
}
#u219.selected.error {
}
#u219_img.selected.hint {
}
#u219.selected.hint {
}
#u219_img.selected.error.hint {
}
#u219.selected.error.hint {
}
#u219_img.mouseOver.selected {
}
#u219.mouseOver.selected {
}
#u219_img.mouseOver.selected.error {
}
#u219.mouseOver.selected.error {
}
#u219_img.mouseOver.selected.hint {
}
#u219.mouseOver.selected.hint {
}
#u219_img.mouseOver.selected.error.hint {
}
#u219.mouseOver.selected.error.hint {
}
#u219_img.mouseDown.selected {
}
#u219.mouseDown.selected {
}
#u219_img.mouseDown.selected.error {
}
#u219.mouseDown.selected.error {
}
#u219_img.mouseDown.selected.hint {
}
#u219.mouseDown.selected.hint {
}
#u219_img.mouseDown.selected.error.hint {
}
#u219.mouseDown.selected.error.hint {
}
#u219_img.mouseOver.mouseDown.selected {
}
#u219.mouseOver.mouseDown.selected {
}
#u219_img.mouseOver.mouseDown.selected.error {
}
#u219.mouseOver.mouseDown.selected.error {
}
#u219_img.mouseOver.mouseDown.selected.hint {
}
#u219.mouseOver.mouseDown.selected.hint {
}
#u219_img.mouseOver.mouseDown.selected.error.hint {
}
#u219.mouseOver.mouseDown.selected.error.hint {
}
#u219_img.focused.selected {
}
#u219.focused.selected {
}
#u219_img.focused.selected.error {
}
#u219.focused.selected.error {
}
#u219_img.focused.selected.hint {
}
#u219.focused.selected.hint {
}
#u219_img.focused.selected.error.hint {
}
#u219.focused.selected.error.hint {
}
#u219_img.selected.disabled {
}
#u219.selected.disabled {
}
#u219_img.selected.hint.disabled {
}
#u219.selected.hint.disabled {
}
#u219_img.selected.error.disabled {
}
#u219.selected.error.disabled {
}
#u219_img.selected.error.hint.disabled {
}
#u219.selected.error.hint.disabled {
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-5px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u219_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:90px;
  width:147px;
  height:23px;
  display:flex;
}
#u220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:191px;
  width:39px;
  height:39px;
  display:flex;
  color:#8C8C8C;
}
#u221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:357px;
  width:147px;
  height:23px;
  display:flex;
  color:#FFFFFF;
}
#u222 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:23px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:8px;
  width:127px;
  height:23px;
  display:flex;
  font-family:"Arial Negrito", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u223 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
